class: edu.cmu.lti.oaqa.bioqa.providers.kb.CachedMetaMapConceptProvider

version: # ADD VERSION HERE, E.G. '1516'
username: # ADD USERNAME HERE
password: # ADD PASSWORD HERE
email: # ADD EMAIL ADD

db-file: src/main/resources/metamap-cache/metamap-cache.mapdb
map-name: metamap-cache
